<div style="float: left; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: aqua;">
  @if (isSignedUp()) { <div> Your registration is successful. Please login! </div> }
  @else { <ng-container [ngTemplateOutlet]="signupForm"></ng-container> }

  <ng-template #signupForm>
    <div class="row col-sm-6" style="max-width:350px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username" id="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
          <!--@if (f.submitted && username.invalid) {-->
          @if(username.invalid && (username.dirty || username.touched)) {
            @if (username.errors?.['required']) {
              <div> Username is required. </div>
            }
          }
        </div>
        <div class="form-group">
          <label for="password" id="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                 required minlength="6" />
          <!--@if (f.submitted && password.invalid) {-->
            @if(password.invalid && (password.dirty || password.touched)) {
            @if (password.errors?.['required']) { <div>Password is required</div> }
            @if (password.errors?.['minlength']) { <div>Password must be at least 6 characters</div> }
          }
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
          @if (f.submitted && isSignUpFailed()) { <div class="alert alert-warning">Signup failed!<br/>{{errorMessage()}}</div> }
          </div>
      </form>
    </div>
  </ng-template>
</div>

